<!DOCTYPE html>
<html lang="en">
    <footer class="text-center text-white" style="background-color: #818FB4;">
        <div class="container p-4 pb-0">
          <div class="mb-4">
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fab fa-facebook-f"></i
            ></a>
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fab fa-twitter"></i
            ></a>
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fab fa-instagram"></i
            ></a>
              </div>
        </div>

        <div class="text-center p-3" style="background-color: #435585; color: #fff;">
          © 2023 Copyright:
          <a href="https://dittm.github.io/monroe-digital/">dittm.github.io/monroe-digital</a>
        </div>
    </footer>  
</html>