<!DOCTYPE html>
<html lang="en">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #818FB4;">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="project/project.html">Project</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="marilyn-monroe.html">Marilyn</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="timeline.html">Timeline</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="about" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Works
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="poems.html">Poems</a></li>
                  <li><a class="dropdown-item" href="letters.html">Letters</a></li>
                  <li><a class="dropdown-item" href="recipes.html">Recipes</a></li>
                  <li><a class="dropdown-item" href="all.html">All</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="navbar-text">
            <a class="navbar-brand" href="#"><img src="https://raw.githubusercontent.com/dittm/monroe-digital/main/images/signature.png" width="150px" alt="Marilyn Monroe Signature"></a>
          </span>
        </div>
      </nav>
</html>